/* Colors 
#b1cdab	green
#ffdb58	yellow
#931009	red
#c48d54	bread
#f1e4d6	off white*/

:root {
    --bg-color: #D73135;
    --text-color: #FDF9D6;
    --hover-color: #FFDB58;
    --background: rgba(0, 0, 0, .1);
    --boxshadow: 30px 30px 40px rgba(0, 0, 0, .3),
    -30px 30px 40px rgba(0, 0, 0, .3);
  }

body{
    display: flex;
    justify-content: center;
    margin: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    max-width: 100%;
    background-image: url(../images/background4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-image: url(../images/header-left.png), url(../images/header-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-color: var(--background);
    
    box-shadow: 30px 30px 40px rgba(0, 0, 0, .3),
    -30px 30px 40px rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
}

.logo img{
    max-width: 150px;
    padding: .5em;
}

.contact a{
    font-size: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}

.spacer
{
    width: 100%;
    height: 170px;
}


/* Main */

main{
    max-width: 900px;
    margin: auto;
}

.about{
    background-color: var(--background);
    box-shadow: var(--boxshadow)
}

.updawg{
    max-width: 120px;
    top:10px;
  }

.landing-img img{
    width: 100%;
    height: auto;
}

h1,
h2{
    margin: 0;
}