/* Colors 
#b1cdab	green
#ffdb58	yellow
#931009	red
#c48d54	bread
#f1e4d6	off white*/

:root {
    --bg-color: #D73135;
    --text-color: #FDF9D6;
    --hover-color: #FFDB58;
    --background: rgba(0, 0, 0, 0);
    --boxshadow: 30px 30px 40px rgba(0, 0, 0, .3),
    -30px 30px 40px rgba(0, 0, 0, .3);
  }

body{
    display: flex;
    justify-content: center;
    margin: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    max-width: 100%;
    /*background-image: url(../images/background6.jpg);*/
    background: rgb(215,49,53);
    background: linear-gradient(140deg, rgba(215,49,53,1) 0%, rgba(255,224,22,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*had backdrop-filter: saturate(2.5); in body tag causing 
    header to not stay in fixed position*/
}

/* Header */



header {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-image: url(../images/header-left.png), url(../images/header-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left, top right;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    clip-path: inset(-15px 0px -15px 0px);
    background-color: var(--bg-color);
}

.logo img{
    max-width: 150px;
    padding: .5em;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    list-style-type: none;
}
  
.navbar a{
    color: var(--text-color);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    font-size: 1.2em;
    padding: 0 1em;
    font-weight: bolder;
    text-decoration: none;
}

.contact a{
    font-size: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}



/* Main */

main{
    max-width: 900px;
    margin: auto;
    background-image: url(/images/hotdogbanner.png);
    background-color: #FFE016;
}

.about{
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px -15px);
    padding: 2em;
}

.about-text{
    padding-top: 150px;
}

.updawg{
    max-width: 120px;
    top:10px;
  }

.landing-img img{
    width: 100%;
    height: auto;
}

h1,
h2{
    margin: 0;
}