/* Colors 
#b1cdab	green
#ffdb58	yellow
#931009	red
#c48d54	bread
#f1e4d6	off white
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Happy Monkey', cursive;
font-family: 'Luckiest Guy', cursive;*/

html{
    min-height: 100%;
}

:root {
    --bg-color: #D73135;
    --text-color: #ffffff;
    --hover-color: #FFDB58;
    --background: rgba(0, 0, 0, .3);
    --boxshadow: 30px 30px 40px rgba(0, 0, 0, .3),
    -30px 30px 40px rgba(0, 0, 0, .3);
    --text-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
    --tab-width: 900px;
  }

  *{
    min-width: 0;
    text-decoration: none;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    margin: 0;
  }

  button{
    all: unset;
  }

  .fade-in{
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .active{
    background-color: black;
  }

  h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

h2{
    font-family: 'Happy Monkey', cursive;
    padding: 1rem 3rem;
}

p{
    font-family: 'Happy Monkey', cursive;
    padding: 1rem 3rem;
    font-size: 1.2em;
}

body{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    width: 100%;
    background: linear-gradient(140deg, rgba(215,49,53,1) 0%, rgba(255,224,22,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    /*had backdrop-filter: saturate(2.5); in body tag causing 
    header to not stay in fixed position*/
}

/*Banner Start*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 900px;
    background-color: var(--bg-color);
    background-image: url(../images/header-left.png), url(../images/header-right.png), url(../images/footer-left.png), url(../images/footer-right.png);
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 25%;
    padding-bottom: 1em;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.banner-img{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner-img img{
    width: 50%;
}

.banner-text{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner-text img{
    width: 50%;
}

/*Banner End*/

/*Header Start*/

header {
    font-family: 'Happy Monkey', cursive;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 140px;
    background-image: url(../images/header-left.png), url(../images/header-right.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: top left, top right;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    clip-path: inset(-15px 0px -15px 0px);
    background-color: var(--bg-color);
    list-style: none;
}

header div{
    width: 20%;
    display: flex;
}

.navbar{
    width: 60%;
    justify-content: space-around;
}

.logohbmenu button{
    background: transparent;
    border: none;
    padding: 1em;
    width: 20%;
}

.logohbmenu button img{
    max-width: 5em;
    margin: .5em;
    background-color: #fce89d;
    box-shadow: var(--text-shadow);

}

img#hbmenu{
    display: none;
    padding: .3em;
    max-height: 35px;
    border-radius: 25%;
}

#logo{
    max-height: 140px;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
}

a{
    padding: 0 1em;
}

a:hover{
    cursor: pointer;
}

.contact{
    margin-right: 1em;
    justify-content: flex-end;
}

.contact a{
    padding: 0 1em;
    margin-top: 7px;
}

/*Header End*/

/*Main Start*/

main{
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px -15px);
    background-image: url(/images/hotdogbanner2.png);
    background-repeat: repeat-y;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

.updawg{
    width: 50%;
    min-width: 300px;
    padding: 0 3rem;
  }

.button{
    display: flex;
    justify-content: center;
}

#myBtn{
    font-family: 'Happy Monkey', cursive;
    margin: .5rem .5rem;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}

#myBtn:hover{
    cursor: pointer;
    border-radius: 25px;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, .1);
}

#more {display: none;}

/*Main End*/

/*Menu Start*/

.menu{
    background-color: rgba(0,0,0,0.5);
    width: 85%;
    border-radius: 25px;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
    padding: 1em 2em;
}

.menu-button-bar{
    margin-top: 1em;
    text-align: center;
    width: 100%;
}


.menu-button-bar button{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

h2.menu-button{
    padding: 5px 10px;
    border-radius: 20px 20px 0 0;
}

.menu-button:hover{
    cursor: pointer;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, .5);
}

.food{
    width: 100%;
    display: flex;
    text-overflow: scroll;
    background-color: black;
    border-radius: 25px;
    transition-duration: 1.5s;
}

.food img{
    width:33.33%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}

.menu .food div{
    display: flex;
    flex-direction: column;
    width: 66.66%;
}

/*Menu End*/

/*Footer Start*/

.footer-main{
    display: flex;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Happy Monkey', cursive;
    font-weight: bolder;
    width: 100%;
    max-height: 140px;
    min-height: 70px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    clip-path: inset(-15px 0px -15px 0px);
    background-color: var(--bg-color);
    overflow: hidden;
}

.footer-main div{
    width: 33.33%;
}


.location {
    margin-left: 1em;
    margin: 1em 1em;
}

.location a{
    padding: 0;
}

.hours p{
    padding: 0;
    text-align: center;
    font-size: 1em;
    margin: 1em 1em;
}

.mascot{
    transform: scaleX(-1);
    max-height: 140px;
}

.mascot img{
    max-height: 140px;
    z-index: 1000;

}

/*Footer End*/

@media only screen and (max-width: 650px) {

    .banner{
        display: none;
    }

    .food img{
        display: none;
    }

    .menu{ 
        width: 100%;
        border-radius: 0%;
        padding: 0;
    }

    .food {
        border-radius: 0%;
    }

    .menu .food div{
        width: 100%;
    }

    .menu-button-bar{
        font-size: 10px;
    }


    #logo{
        display: none;
    }

    .navbar{
        display: none;
    }

    img#hbmenu{
        display: block;
    }

    header .contact{
        width: 50%;
        justify-content: flex-end;
    }

}

@media only screen and (min-width: 1500px) {
    main{
        max-width: 1200px;
    }
}   
    .banner{
        max-width: 1200px;
    }



    @media only screen and (min-width: 1800px) {
        main{
            max-width: 1500px;
        }
    }   
        .banner{
            max-width: 1500px;
        }