/* Colors 
#b1cdab	green
#ffdb58	yellow
#931009	red
#c48d54	bread
#f1e4d6	off white
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Happy Monkey', cursive;
font-family: 'Luckiest Guy', cursive;*/




:root {
    --bg-color: #D73135;
    --text-color: #ffffff;
    --hover-color: #FFDB58;
    --background: rgba(0, 0, 0, .3);
    --boxshadow: 30px 30px 40px rgba(0, 0, 0, .3),
    -30px 30px 40px rgba(0, 0, 0, .3);
    --text-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
    --max-width: 900px;
  }

  *{
    min-width: 0;
    text-decoration: none;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    margin: 0;
  }

body{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    width: 100%;
    background: linear-gradient(140deg, rgba(215,49,53,1) 0%, rgba(255,224,22,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: 0;
    /*had backdrop-filter: saturate(2.5); in body tag causing 
    header to not stay in fixed position*/
}

/*Banner Start*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 900px;
    background-color: var(--bg-color);
    background-image: url(../images/header-left.png), url(../images/header-right.png), url(../images/footer-left.png), url(../images/footer-right.png);
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 25%;
    padding-bottom: 1em;
}

.banner-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner-img img{
    max-width: 70vw;
    max-height: 70vh;
}

.banner-text img{
    max-width: 70vw;
    max-height: 15vh;
}

/*Banner End*/

/*Header Start*/

header {
    font-family: 'Happy Monkey', cursive;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    max-height: 140px;
    background-image: url(../images/header-left.png), url(../images/header-right.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: top left, top right;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    clip-path: inset(-15px 0px -15px 0px);
    background-color: var(--bg-color);
    list-style: none;
}

header div{
    width: 20%;
}

.navbar{
    width: 60%;
}

.logo img{
    max-width: 5em;
    padding: .5em;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
}

a{
    padding: 0 1em;
}

a:hover{
    cursor: pointer;
}

.contact{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.contact a{
    padding: 0 1em;
}

/*Header End*/

/*Main Start*/

main{
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px -15px);
    background-image: url(/images/hotdogbanner2.png);
    background-repeat: repeat-y;
}

.about{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.updawg{
    width: 400px;
    flex-shrink: 0;
    padding: 0 3rem;
  }

.landing-img{
    max-height: 500px;
    display: none;
}

.landing-img img{
    width: 100%;
    height: 50%;
    
}

/*h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.5rem;
}*/

h2{
    font-family: 'Happy Monkey', cursive;
    padding: 1rem 3rem;
}

p{
    font-family: 'Happy Monkey', cursive;
    padding: 1rem 3rem;
    font-size: 1.2em;
}

.button{
    display: flex;
    justify-content: center;
}

button{
    font-family: 'Happy Monkey', cursive;
    font-size: 1em;
    margin: .5rem .5rem;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

#myBtn:hover{
    cursor: pointer;
}

#more {display: none;}

/*Main End*/

/*Footer Start*/



.footer-main{
    display: flex;
    align-items: center;
    font-size: .7em;
    font-family: 'Happy Monkey', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    width: 100%;
    max-width: 900px;
    max-height: 140px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    clip-path: inset(-15px 0px -15px 0px);
    background-color: var(--bg-color);
    overflow-y: hidden;
}

.footer-main div{
    width: 33.33%;

}


.location {
    margin-left: 1em;
}

.location a{
    padding: 0;
}

.hours p{
    padding: 0;
    text-align: center;
}

.mascot{
    transform: scaleX(-1);
}

.mascot img{
    max-width: 150px;
}

/*Footer End*/